- 사용자로부터 어떤 값을 받고 해당 값을 한화(*한국돈)으로 출력되도록 해주세요.
- ex) 100$ => 환율 1112원 // 111200원 으로 출력되도록 해주세요.

- 사용자로부터 달러를 입력받기 위해 input을 사용해서 변수에 값을 입력받는다. 이때 돈은 숫자이므로 int 값으로 받는다.
- 환율을 적용하여 원화로 표시하기 위해 입력받은 값에 환률을 곱한 값을 출력한다.

In [6]:
one = input("원화로 환전하고 싶은 달러를 입력하세요")

dallor = int(one.replace("달러", ""))

print(f"당신이 가지고 있는 달러를 원으로 환전하면 {dallor*1112:,}원 입니다.")

원화로 환전하고 싶은 달러를 입력하세요 100달러

당신이 가지고 있는 달러를 원으로 환전하면 111,200원 입니다.

In [32]:
d = input("가지고 있는 달러를 입력하세요 ex)100 달러")
#ex) 100달러라고 입력한 값에서 정숫값만 가져오려면 뒤에 달러를 지우고 정수값으로 변환하면 된다

d1 = int(d.split(" ")[0])#100 달러

print(f"당신이 가지고 있는 달라는 {d}$ 인데 원화로 환전했을 경우 {int(d1)*1112} 원 입니다.")

# if type(d) == "int" :
#     print(f"당신이 가지고 있는 달라는 {d}$ 인데 원화로 환전했을 경우 {(d)*1112} 원 입니다.")
# else :
#     print("숫자를 입력하세요")

가지고 있는 달러를 입력하세요 ex)100 달러 100 달러

당신이 가지고 있는 달라는 100 달러$ 인데 원화로 환전했을 경우 111200 원 입니다.

In [33]:
#선생님 풀이
# 1. 사용자에게 값을 받는다
#input

# 2. 사전에 환율을 정의해서 특정 변수에 할당해 놓는다
# 변수 정의만 하면 됨

# 3. 사용자에게 받은 값을 사전에 정의해놓은 환율과 계산한다.
# 연산자만 알면 됨

# 4. 사용자의 값과 환율을 계산한 그 결과값을 출력한다
# print()

price = input("환전하고 싶은 달러를 입력해주세요, ex)100달러")
exchange = 1112

dollar = int(price.replace("달러", ""))
result = dollar * exchange

print(f"{result:,}원")

환전하고 싶은 달러를 입력해주세요, ex)100달러 100

111,200원

- 달러의 환율을 1112원으로 설정, 위완화의 환율을 171원 설정, 엔화의 환율을 1010원으로 설정 하시되, 해당 화폐당 환율의 값을 딕셔너리라는 자료구조로 정의하시고, 사용자가 달러 혹은 엔화 혹은 위안화 값을 입력 했을때,  해당 값을 한화로 바꿔서 출력될 수 있도록 해주세요!!!

In [5]:
#국가별 각각의 환율값을 딕셔너리 자료구조로 선언해준다.
#if문을 사용해서 사용자가 달러를 입력했을 때 달러
#elif문을 사용해서 엔화
#elif문을 사용해서 위안화

dict1 = {"달러": "1112", "엔화": "1010", "위안화": "171", }

price = input("환전하고 싶은 금액을 입력해주세요, ex)100 달러(달러, 엔, 위안 가능)")

d1 = int(price.split(" ")[0])
d2 = price.split(" ")[1]

if d2 == "달러":
    print(f"당신이 가지고 있는 달라는 {price}$ 인데 원화로 환전했을 경우 {int(d1)*int(dict1["달러"])} 원 입니다.")

elif d2 == "엔" :
    print(f"당신이 가지고 있는 엔화는 {price}$ 인데 원화로 환전했을 경우 {int(d1)*int(dict1["엔화"])} 원 입니다.")
    
elif d2 == "위안" :
    print(f"당신이 가지고 있는 위안화는 {price} 인데 원화로 환전했을 경우 {int(d1)*int(dict1["위안화"]):,} 원 입니다.")
else :
    print("양식에 맞게 입력해주세요 ex) 100 위안")

환전하고 싶은 금액을 입력해주세요, ex)100 달러(달러, 엔, 위안 가능) 100 엔

당신이 가지고 있는 엔화는 100 엔$ 인데 원화로 환전했을 경우 101000 원 입니다.

In [ ]:
#선생님 풀이

exchange_list = {"달러":1112, "위안":171, "엔화":1010}
user_money = input("환전하고 싶은 금액 입력!")
#100달러

if user_money[-2:] == "달러" :
    print(f"{exchange_list['달러'] * int(user_money[:-2]):,}원")
elif user_money[-2:] == "위안" :
    print(f"{exchange_list['위안'] * int(user_money[:-2]):,}원")
elif user_money[-2:] == "엔화" :
    print(f"{exchange_list['엔화'] * int(user_money[:-2]):,}원")
else :
    print("달러, 위안, 엔화 중 하나를 입력해주세요!")

환전하고 싶은 금액 입력! 100 달러

In [13]:
# 2~9단까지 => 숫자 2부터 9까지 반복순회!! 2) 피연산자로 1~9까지 반복순회!! 2 * 1 = 2

for first in range(2, 10) :
    print(f"*** 구구단 {first}단 ***")

    for second in range(1, 9) :
        print(f"{first} x {second} = {first*second}")
    print("\n")

*** 구구단 2단 ***
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16


*** 구구단 3단 ***
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24


*** 구구단 4단 ***
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32


*** 구구단 5단 ***
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40


*** 구구단 6단 ***
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48


*** 구구단 7단 ***
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56


*** 구구단 8단 ***
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64


*** 구구단 9단 ***
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72

In [23]:
#위에서 작성한 코드를 활용해서 다음과 같은 결과를 출력해주세요. 구구단 2~9단까지 출력하되, 계산된 결과 값이 짝수인경우만 출력해주세요!!
#예) 3 x 3 = 9 이기 때문에 출력되면 안됨. 2 x 4 = 8 이기 때문에 출력되어야함!!

for first in range(2, 10) :
    print(f"*** 구구단 {first}단 ***")

    for second in range(1, 10) :
        if (first*second) % 2 == 0 :
            print(f"{first} x {second} = {first*second}")
    print("\n")

*** 구구단 2단 ***
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18


*** 구구단 3단 ***
3 x 2 = 6
3 x 4 = 12
3 x 6 = 18
3 x 8 = 24


*** 구구단 4단 ***
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36


*** 구구단 5단 ***
5 x 2 = 10
5 x 4 = 20
5 x 6 = 30
5 x 8 = 40


*** 구구단 6단 ***
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54


*** 구구단 7단 ***
7 x 2 = 14
7 x 4 = 28
7 x 6 = 42
7 x 8 = 56


*** 구구단 8단 ***
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72


*** 구구단 9단 ***
9 x 2 = 18
9 x 4 = 36
9 x 6 = 54
9 x 8 = 72

In [31]:
#두개의 리스트
dongs = ["6209동", "6208동", "6207동"]
hos = ["101호", "102호", "103호", "104호"]

# 6209동 101호
# 6209동 102호
# 6209동 103호
# 6209동 104호

# 6208동 101호
# 6208동 102호
# 6208동 103호
# 6208동 104호

# 6207동 101호
temp_tuple = list()

for dong in reversed(dongs) :
    for ho in hos :
        temp_tuple = 
    print("")

6207동 101호
6207동 102호
6207동 103호
6207동 104호

6208동 101호
6208동 102호
6208동 103호
6208동 104호

6209동 101호
6209동 102호
6209동 103호
6209동 104호

In [34]:
tupledata = ("coding01", "coding02", "coding03")
# temp_list = list(tupledata)

# temp_list.append("coding04")
# result = tuple(temp_list)

# result

tuple(list(tupledata) +  ["coding04"])

('coding01', 'coding02', 'coding03', 'coding04')

In [53]:
#딕셔너리 형태의 자료구조를 하나 만들어서 아래와 같이 값을 출력해주세요.

# environment : 환경
# company : 회사
# goverment : 정부
# face : 얼굴

data = {"environment" : ["환경", "x"],
        "company" : ["회사", "o"],
        "goverment" : ["정부", "x"],
        "face" : ["얼굴", "x"]}

In [54]:
#자료구조 중 딕셔너리는 리터러블 하지 않은데 for문을 통해서 값을 출력하는 법
for item in data.keys() :
    print(f"{item} : {data[item]}")

environment : ['환경', 'x']
company : ['회사', 'o']
goverment : ['정부', 'x']
face : ['얼굴', 'x']

In [63]:
#사용자로부터 특정 사전에 등록되어있는 단어들 중 1개를 입력받으세요.
#입력받은 단어의 경우, 외움표시 o 표시로 수정하고,
#아직 외우지 못한 단어들만 출력하는 프로그램 코드를 작성해주세요!!

english = input("외운 항목에 대해서 입력하세요")

#for item in data.keys() :
if english in data.keys() :
    data[english][1] = "o"
    #    print(data[english][1]) #데이터 딕셔너리의 잉글리시로 리스트 선언된 데이터키의 1번쨰를 출력
else :
    print("사전에 존재하지 않는 단어입니다!")

for item in data.keys() :
    data_list = data[item]
    if data_list[1] == "x" :
        print(item)

외운 항목에 대해서 입력하세요 goverment

environment

In [68]:
#dict_all = {"environment":"환경", "goverment" : "정부"}
#dict2 = {"company" : "환경", "face" : "얼굴"}
#dict3 = {"apple" : "사과"}
#dict_all 안에 dict2와 dict3 값을 모두 넣어주세요! 그리고 dict_all값을 출력해주세요

dict_all = {"environment":"환경", "goverment" : "정부"}
dict2 = {"company" : "환경", "face" : "얼굴"}
dict3 = {"apple" : "사과"}

for item in dict2.keys() :
    dict_all[item] = dict2[item]

for item in dict3.keys() :
    dict_all[item] = dict3[item]

dict_all

{'environment': '환경',
 'goverment': '정부',
 'company': '환경',
 'face': '얼굴',
 'apple': '사과'}

In [74]:
number_list = {1, 2, 3}
number_list.add(4)#세트에서 단일한 값 추가 하고 싶을때 add
number_list.update([5, 6])#여러개 값을 추가하고 싶을때 이터러블한 상태(리스트)로 추가 가능
number_list.update((7, 8))#튜플도 가능
number_list.remove(2)

number_list

{1, 3, 4, 5, 6, 7, 8}

In [81]:
#임의의 숫자 2개를 사용자에게 받으면 해당 2개의 숫자를 곱한 값을 반환하는 함수를 만들고, 해당 함수의 결과값을 화면에 출력해주세요!!!
# 사용자로부터 입력 받기
# 함수 호출 및 결과 출력

def mul_numbers(a, b):
    return a * b

num1 = int(input("첫 번째 숫자: "))
num2 = int(input("두 번째 숫자: "))

result = mul_numbers(num1, num2)
print("두 수를 곱한 결과:", result)

첫 번째 숫자:  77
두 번째 숫자:  77

두 수를 곱한 결과: 5929

In [86]:
num_all = [int(input("숫자를 입력하세요!")) for _ in range(2)]

def m(a, b) :
    return a * b

print(m(num_all[0], num_all[1]))

숫자를 입력하세요! 12
숫자를 입력하세요! 12

144

In [90]:
def mul_numbers():
    a = int(input("첫 번째 숫자: "))
    b = int(input("두 번째 숫자: "))
    return a * b

print(mul_numbers())

첫 번째 숫자:  15
두 번째 숫자:  15

225

In [100]:
#함수를 호출하는데 인자값 3개를 받을 수 있는 함수로 호출합니다.
#func1(인자값1, 인자값2, 인자값3)
#해당 함수의 3번째 인자값 = 인자값3, + => 첫번째 인자값과 두번째 인자값을 더한 결과값을 반환하도록 해주시고, 
#만약 3번째 인자값이 * 라면, 
#첫번째 인자값과 두번째 인자값을 곱한 결과값을 반환해주세요.
#그런데 만약 3번째 인자값이 +도 아니고, *도 아니라면 무조건 0이라는 값을 반환하도록 하는 함수를 만들어주세요!!!

def func1():
    a = int(input("첫 번째 숫자 : "))
    b = int(input("두 번째 숫자 : "))
    c = input("+ or * : ")
    if c == "+" :
        result = a + b
    elif c == "*" :
        result = a * b
    else :
        result = "input, + or *"
    return (result)

func1()

첫 번째 숫자 :  11
두 번째 숫자 :  1
+ or * :  2

'input, + or *'

In [104]:
def calc(data1, data2, way) :
    if way == "+" :
        return data1 + data2
    elif way == "*" :
        return data1 * data2
    else :
        return 0

data01 = calc(1, 2, "+")
data02 = calc(1, 5, "+")
data03 = calc(2, 5, "*")
data04 = calc(2, 5, "-")

print(data01, data02, data03, data04)

3 6 10 0