#### 파이썬 입.출력 예시

In [14]:
#사용자로 부터 두 개의 숫자를 입력 받은 후 해당 두개의 숫자를 더해 값을 출력하는 프로그램을 작성해보세요

print("두개의 숫자를 입력하세요")

first = input ("a")
second = input ("b")

sum1 = int(first) + int(second)
print("입력하신 a 와 b의 합은")
print(int(sum1))

두개의 숫자를 입력하세요

a 1234
b 1234

입력하신 a 와 b의 합은
2468

In [19]:
#사용자로부터 두 개의 숫자를 입력 받은 후 곲한 값, 나눈 값, 나눈 몫, 나머지 값을 출력하는 프로그램을 작성해보세요
print("두 숫자를 입력하세요")
num1 = int(input("a"))
num2 = int(input("b"))


print("입력하신 a 와 b의 곱한 값은", num1 * num2)
print(f"나눈 값 : {num1} / {num2} = {num1 / num2}")
print(num1, "//", num2, "=", num1//num2)
print("입력하신 a 와 b의 나눈 값은", num1 / num2)
print("입력하신 a 와 b의 나눈 몫은", int(num1 / num2))
print("입력하신 a 와 b의 나눈 나머지는", num1 % num2)
print(f"나머지 값 : {num1} % {num2} = {num1 % num2}")

두 숫자를 입력하세요

a 345
b 143

입력하신 a 와 b의 곱한 값은 49335
나눈 값 : 345 / 143 = 2.4125874125874125
345 // 143 = 2
입력하신 a 와 b의 나눈 값은 2.4125874125874125
입력하신 a 와 b의 나눈 몫은 2
입력하신 a 와 b의 나눈 나머지는 59
나머지 값 : 345 % 143 = 59

### 데이터 자료구조 - 리스트 (List)
- 파이썬의 리스트 : 다른 프로그래밍 언어에서 주로 배열(array) 이라는 이름으로 많이 불림
- 프로그래밍 언어 ==> 인간의 작업보다 효율적이다 ==> 패턴을 가지고 있는 반복적인 작업을 매우 빠르게 잘하기 때문!!!
- 어떤 연산처리 작업을 반복해서 할 수 있는 형태의 자료구조여야만 위의 작업을 할 수 있음
- 이터러블 = iterable = 반복적인 // class를 알게되면 이해하기 간단
- 문자열(str) 역시 이터러블한 속성을 가지고 있음
- 리스트 자료구조는 내부에 입력된 값에 고유한 개별적인 인덱스(index)값을 부여!!
  - 리스트는 각각 고유한 인덱스값을 가지고 있음 (0부터 시작함)
  - 리스트에서 특정 인덱스값을 찾아오고자 할 때 => 변수명[인덱스값]
  - 문자열과 동일하게 슬라이싱 기능 있음 => 변수명[시작인덱스 : 종료인덱스 + 1]
  - append() : 리스트 자료구조에서 왼쪽에서 부터 신규로 값을 추가할 수 있도록 해주는 함수(한 번에 여러개 값을 추가할 수 없음!)
  - insert() : 리스트 자료구조 안에 값을 추가할 수 있는 함수 => 첫번째 인덱스는 추가하고자 하는 위치,  두번째 인덱스는 추가하고자 하는 값(한 번에 한개밖에 안됨)
  - extend() : 리스트 자료구조에서 왼쪽에서 부터 신규로 값을 추가할 수 있도록 해주는 함수(한 번에 여러개 값을 추가할 수 없음!)
  - remove() : 함수의 인자값을 리스트 자료구조의 왼쪽부터 서칭하다가 발견 시, 삭제해주는 함수
  - del : del 변수명[인덱스값] => 해당 인덱스 값을 삭제해주는 함수

#### 리스트에 있는 method 함수
- 리스트는 각각 고유한 인덱스값을 가지고 있음 (0부터 시작함)
- 리스트에서 특정 인덱스값을 찾아오고자 할 때 => 변수명[인덱스값]
- 문자열과 동일하게 슬라이싱 기능 있음 => 변수명[시작인덱스 : 종료인덱스 + 1]
- append() : 리스트 자료구조에서 왼쪽에서 부터 신규로 값을 추가할 수 있도록 해주는 함수(한 번에 여러개 값을 추가할 수 없음!)
- insert() : 리스트 자료구조 안에 값을 추가할 수 있는 함수 => 첫번째 인덱스는 추가하고자 하는 위치,  두번째 인덱스는 추가하고자 하는 값
- extend() : 리스트 자료구조에서 왼쪽에서 부터 신규로 값을 추가할 수 있도록 해주는 함수(한 번에 여러개 값을 추가할 수 없음!)
- remove() : 함수의 인자값을 리스트 자료구조의 왼쪽부터 서칭하다가 발견 시, 삭제해주는 함수
- del : del 변수명[인덱스값] => 해당 인덱스 값을 삭제해주는 함수
- sort() : 리스트 안에 있는 값을 오름차순으로 정렬할 때 사용하는 함수
- reverse() : 리스트 안에 있는 값을 내림차순으로 정렬할 때 사용하는 함수
- split() : 문자열의 자료형태를 인자값을 기준으로 나눠서 리스트 자료형태로 변환시켜주는 함수

In [ ]:
#### 리스트 자료구조 생성하는 방법
- 변수 선언과 함께 직접 대괄호 입력 후 내부에 요소들을 직접 입력하는 방법
- 아무런 값도 존재하지 않는 빈 리스트를 만들어놓고 값을 하나씩 채워가는 방법
- 파이썬 내 클래스 문법을 통해서 이미 생성된 리스트 프로토타입을 활용해서 인스턴스 객체를 생성하는 방법

In [57]:
mydata = ["hello", 1, 2, "world"]
news = ["오마이뉴스", "한국일보", "시사인", "뉴시스", "KBSNEWS", "스포츠조선"] #네이버 홈 언론사 배너 예시

print(mydata)
for media in news :
    print(media)

['hello', 1, 2, 'world']
오마이뉴스
한국일보
시사인
뉴시스
KBSNEWS
스포츠조선

In [25]:
location = ["서울시", "경기도", "인천시"] #list 형식 [ 대괄호 시작 ] 대괄호 끝

print(location[0])
print(location[1])
print(location[2])
print(location)
print(type(location))

for city in location :
    print(city)

서울시
경기도
인천시
['서울시', '경기도', '인천시']
<class 'list'>
서울시
경기도
인천시

In [28]:
location.append("부산시")

print(location)
location

['서울시', '경기도', '인천시', '부산시', '부산시', '부산시']

['서울시', '경기도', '인천시', '부산시', '부산시', '부산시']

In [31]:
location.append("완도군") #append 는 한번에 하나의 인자값만 받을 수 있다.

In [32]:
location

['서울시', '경기도', '인천시', '부산시', '부산시', '부산시', '완도군', '완도군']

In [36]:
location[-8]

'서울시'

In [37]:
location[1:3]

['경기도', '인천시']

In [38]:
location.remove("부산시")

In [39]:
location

['서울시', '경기도', '인천시', '부산시', '부산시', '완도군', '완도군']

In [40]:
location.remove("완도군") #remove는

In [41]:
location

['서울시', '경기도', '인천시', '부산시', '부산시', '완도군']

In [42]:
del location[3] #del은 인덱스 값을 입력해서 해당 값을 지우는 것

In [43]:
location

['서울시', '경기도', '인천시', '부산시', '완도군']

In [45]:
del location[3]

In [46]:
location

['서울시', '경기도', '인천시']

In [47]:
location.extend(["천안", "대구"])

In [48]:
location

['서울시', '경기도', '인천시', '천안', '대구']

In [49]:
location.insert(0, "제주도")

In [50]:
location

['제주도', '서울시', '경기도', '인천시', '천안', '대구']

In [52]:
location.insert(0, "제주도", 1, "강남구", 2, "개포동")

TypeError: insert expected 2 arguments, got 6

In [54]:
location01 = []

type(location01)

list

In [55]:
location01.append("강원도")

In [56]:
location01

['강원도']

In [60]:
location02 = list()
print(type(location02))

<class 'list'>

In [62]:
location02.append("강원도")

location02

['강원도', '강원도']

In [63]:
numbers = [2, 1, 4, 3]

print(type(numbers))
print(numbers)

<class 'list'>
[2, 1, 4, 3]

In [64]:
print(type(numbers))

<class 'list'>

In [66]:
numbers.sort()
print(numbers)

numbers.reverse()
print(numbers)

[1, 2, 3, 4]
[4, 3, 2, 1]

In [72]:
pythonBasic = "python is easy" #문자열과 리스트는 친척같은 느낌이다. 자료를 스왑하는 방법도 간단하고 쉽다. 하지만 완전히 같지는 않다.

pylist = pythonBasic.split() #입력받은 문자열을 스플릿 함수를 이용해서 리스트 형식의 데이터값으로 변환함

pylist[0]

'python'